<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Álcool ou Gasolina, Qual o melhor?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Álcool ou Gasolina</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img src="../../assets/icon/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>
          Saiba qual a melhor opção para abastecer seu veículo
        </h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-item>
          <ion-label position="stacked">Preço do Álcool, ex: 2.98</ion-label>
          <ion-input type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Preço da Gasolina, ex: 5.36</ion-label>
          <ion-input type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>

        <ion-button expand="full" (click)="calcular()">Calcular</ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">
          {{ resultado }}
        </h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
